.studies {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: black;
    margin-top: 0;
    margin-bottom: 3rem;
    width: 100%;
    /* Ensures full width */
    max-width: 800px;
    /* Adjust max-width as needed */
    margin: 0 auto;
    /* Centers the container horizontally */
}

.studies-heading {
    font-size: 2.5em;
    font-weight: bold;
    color: yellow;
    background-color: black;
    text-align: center;
    margin-bottom: 0rem;
}

.study-bar {
    background-color: rgb(18, 18, 18);
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(105, 96, 96, 0.1);
    padding: 0.1rem;
    transition: transform 0.2s;
    overflow: hidden;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.study-bar:hover {
    transform: translateY(-10px);
}

.study-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.8rem 0 0.8rem 0;
    color: white;
}

.study-year {
    font-size: 1.4rem;
    color: #797878;
    margin-bottom: 10px;
}

.study-college {
    font-size: 1rem;
    color: white;
    margin-top: 5px;
}

.study-percentage {
    font-size: 1rem;
    color: white;
    margin-top: 5px;
}

.study-skills {
    font-size: 1rem;
    color: rgb(2, 220, 227);
    margin: 0.5rem;
}

@media (max-width: 768px) {
    .studies {
        padding: 10px;
        margin-bottom: 2rem;
    }

    .studies-heading {
        font-size: 2rem;
        font-weight: bold;
        color: yellow;
        background-color: black;
        text-align: center;
        margin-bottom: 0;
    }

    .study-bar {
        width: 85%;
    }

    .study-title {
        font-size: 1.2rem;
    }

    .study-year {
        font-size: 1.1rem;
    }

    .study-college,
    .study-percentage,
    .study-skills {
        font-size: 0.9rem;
    }
}